#register, #login{
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
}
label{
    display: block;
    margin: 10px;
}
input{
    float: right;
}
ul{
    margin-left: 100px;
}
#welcome{
    display: inline-block;
}
#top{
    height: 10px;
}
#recent, #other {
    display: inline-block;
    width: auto;
}
#story{
    padding: 50px;
}
#image, #stats{
    vertical-align: top;
    display: inline-block; 
    margin :10px;
}

#table-fixed-1{
    width: 700px;
    table-layout: fixed;
    overflow: hidden;
}

#current_status{
    margin-top: 20px;
}