#register, #login{
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
}
label{
    display: block;
    margin: 10px;
}
input{
    float: right;
}
ul{
    margin-left: 100px;
}
#welcome{
    display: inline-block;
}
#top{
    height: 10px;
}
#recent, #other {
    display: inline-block;
    width: auto;
}
#story{
    padding: 50px;
}
#image, #stats{
    vertical-align: top;
    display: inline-block; 
    margin :10px;
}

#table-fixed-1{
    width: 700px;
    table-layout: fixed;
    overflow: hidden;
}

#current_status{
    margin-top: 20px;
}

.sign{
    display: inline-block;
    width: 400px;
    vertical-align: top;
    padding: 25px;
    margin: 20px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 2.50rem !important;
    background-color: rgba(156, 156, 156, 0.7);
}
.sign label{
    font-weight: bold;
    text-align: left;
}

body {
    background: #142F2A url('/static/DnD_app/images/index.jpg') no-repeat;
    /* background-size:contain; */
    background-position:center;
}
body h1{
    padding: 25px;
}