<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose your character</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DnD_app/css/bootstrap.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'DnD_app/css/character.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="wrapper" class="jumbotron text-center">
        <div id="top">
            <h1>Choose your character, {{ request.session.user_name }}</h1>
            <a href="/profile"><button class="btn btn-dark">Profile</button></a>
            <a href="/logout"><button class="btn btn-dark">Logout</button></a>
        </div>
        <hr>
        {% if characters %}
            {% for character in characters %}
                <div class="character text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">{{character.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2"><img src="{% static character.image_route %}" alt="Character" class="image"/></td>
                            </tr>
                            <tr>
                                <td>Starting HP:</td>
                                <td>{{character.hp}}</td>
                            </tr>
                            <tr>   
                                <td>Starting Gold:</td>
                                <td>{{character.gold}}</td>
                            </tr>
                            <tr>   
                                <td colspan="2">Strength: {{character.strength}}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><a href="/new_game/{{ character.id }}"><button class="btn btn-secondary btn-lg">select</button></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>

