<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose your character</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DnD_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'DnD_app/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <h1>Choose your character, {{ request.session.user_name }}</h1>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <table>
        {% if characters %}
            {% for character in characters %}
                <thead>
                    <tr>
                        <th>{{character.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="{% static character.image_route %}" alt="My image" style="width:200px;height:300px;"/></td>
                    </tr>
                    <tr>
                        <td>HP : {{character.hp}}</td>
                    </tr>
                    <tr>   
                        <td>Gold: {{character.gold}}</td>
                    </tr>
                    <tr>
                        <td><a href="/game/{{character.id}}"><button>select</button></a></td>
                    </tr>
                </tbody>
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>

