<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose your character</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DnD_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'DnD_app/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <h1>Choose your character, {{ user.username }}</h1>
    <form>
    {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Ninja</th>
                    <th>Monk</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td> Ninja image from static </td>
                    <td> Monk image from static </td> -->
                </tr>
                <tr>
                    <td>Hit Points: 100</td>
                    <td>Hit Points: 150</td>
                </tr>
                <tr>
                    <td>Gold: 200</td>
                    <td>Gold: 150</td>
                </tr>
                <tr>
                    <td><a type='submit' href="/game"><button>Select</button></a></td>
                    <td><a type='submit' href="/game"><button>Select</button></a></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>