<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The game itself</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DnD_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'DnD_app/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'DnD_app/css/additional.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div>
        <h1>This is your Quest, {{ request.session.user_name }}</h1>
        <table>
            <thead>
                <th colspan="3">Current Stats</th>
            </thead>
            <tbody>
                <tr>
                    <td>Gold</td>
                    <td>HP</td>
                    <td>Level</td>
                </tr>
                <tr>
                    <td>{{request.session.gold}}</td>
                    <td>{{request.session.hp}}</td>
                    <td>{{request.session.level}}</td>
                </tr>
                <tr>
                    <td colspan="3">Strength: {{character.strength}}</td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <a href="/save/{{character.id}}">Profile</a>
        <a href="/logout">Logout</a>
    </div>
    <br>
    <div>
         <p>{{story.story}}</p>
         <table>
             <tbody>
                <tr>
                     <td>{{story.ninja_pref}}</td>
                     <td>{{story.monk_pref}}</td>
                     <td>{{story.no_act}}</td>
                </tr>
                <tr>
                    <td><a href="/first"><button>Roll the Dice</button></a></td>
                    <td><a href="/second"><button>Roll the Dice</button></a></td>
                    <td><a href="/third"><button>Roll the Dice</button></a></td>
                </tr>
                {% if messages %}
                    {% for message in messages %}
                        <script>
                            alert('{{ message }}');
                        </script>
                    {% endfor %}
                {% endif %}
             </tbody>
         </table>
    </div>
</body>
</html>