<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DnD_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'DnD_app/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
        <img src="{% static 'DnD_app/images/game_over.png' %}" alt="Game Over"/>
    <table>
        <thead>
            <th colspan="2">Your last attempt was futile, causing you to run out of HP</th>
        </thead>
        <tbody>
            <tr>
                <td><a href="/profile"><button>Profile</button></a></td>
                <td><a href="/restart"><button>New Game</button></a></td>
                <td><a href="/logout"><button>Logout</button></a></td>
            </tr>
        </tbody>
    </table>
    <h3></h3>

</body>
</html>