<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The game itself</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DnD_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'DnD_app/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <!-- not quite sure how to play what, but I'll win! Buahahahahaha -->
    <div>
        <h1>This is your Quest, {{ request.session.user_name }}</h1>
        <p>Gold : {{request.session.gold}}</p>
        <p>Level : {{request.session.level}}</p>
        <p>HP : {{request.session.hp}}</p>
        <a href="/save">Profile</a>
        <a href="/logout">Logout</a>
    </div>
    <br>
    <div>
         <p>A pontificating monster approaches the party and asks that they understand the bloodthirsty flowers before morning, 3 sunrises from this one. In return they promise to grant renaming the location after you as payment.</p>
         <p><a href=""><button>Option 1</button></a>   <a href=""><button>Option 2</button></a>   <a href=""><button>Option 3</button></a></p>
    </div>
    <!-- <a type='submit' href="/Game_Over"><button>Select</button></a>
    <a type='submit' href="/keep_on_winning"><button>Select</button></a> -->
</body>
</html>