<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Let's Play</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'DnD_app/css/bootstrap.css' %}">
    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <div>
            <h1>This is your Quest, {{ request.session.user_name }}</h1>
            <div id='image'>
                <img src="{% static character.image_route %}" alt="Character" style="width:200px;height:300px;"/>
            </div>
            <div id='stats'>
                <table class="table table-hover table-responsive-md" id="table-fixed-1">
                    <thead class = "thead-dark">
                        <th colspan="3">Current Stats</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HP</td>
                            <td>Level</td>
                            <td>Gold</td>
                        </tr>
                        <tr>
                            <td>{{request.session.hp}}</td>
                            <td>{{request.session.level}}</td>
                            <td>{{request.session.gold}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"><p>Strength :  {{character.strength}}</p></td>
                        </tr>
                        <tr>
                            <td colspan="3"><a href="/save/{{character.id}}"><button class="btn btn-dark "> Save </button></a> <a href="/logout"><button class="btn btn-dark">Logout</button></a></td>

                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        {% if messages %}
            <div class="bs-example">
                {% for message in messages %}
                    {% if message.tags == 'info'%}
                        <div class="alert alert-success">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>{{message}}</strong>
                            </div>
                    {% endif %}
                    {% if message.tags == 'error'%}
                            <div class="alert alert-danger">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>{{message}}</strong> 
                            </div>
                    {% endif %}    
                {% endfor %}
            </div>
        {% endif %}
        <div id='story'>
            <table class="table table-responsive-md table-fixed">
                <thead>
                    <th colspan="3"><p>{{story.story}}</p></th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{story.ninja_pref}}</td>
                        <td>{{story.monk_pref}}</td>
                        <td>{{story.no_act}}</td>
                    </tr>
                    <tr>
                        <td><a href="/first"><button class="btn btn-secondary btn-lg" >Roll the Dice</button></a></td>
                        <td><a href="/second"><button class="btn btn-secondary btn-lg">Roll the Dice</button></a></td>
                        <td><a href="/third"><button class="btn btn-secondary btn-lg">Roll the Dice</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>