<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Player's Profile</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'DnD_app/css/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
        <link rel="stylesheet" href="{% static 'DnD_app/css/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <h1>Welcome, {{ user.username }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Feature </th>
                    <th>Value </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>Gold: </td>
                    <td>{{ game.gold }}</td>
                </tr>
                <tr>
                    <td>Level: </td>
                    <td>{{ game.level }}</td>
                </tr>
                <tr>
                    <td>Hit Points: </td>
                    <td>{{ game.hitpoints }}</td>
                </tr>
                <tr>
                    <td>Achievements: </td>
                    <!-- <td> Here it will show the levels passed. This is optional</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- When the user has registered, but hasn't played yet -->
        <a href="/new_Game"><button type="button">New Game</button> </a>
        <!-- For users that have played before -->
        <a href='/restart'><button type="button">Start a New Game</button> </a>
        <a href='/game'><button type="button">Continue with Current Game</button> </a>
    </body>
</html>